(common) {
    errors {
        404 /root/.caddy/404.html
    }
}

new.serben.tk, www.serben.tk {
    redir https://serben.tk{uri}
}

andrei.serben.tk {
    redir https://gion.serben.tk{uri}
}
edoardo.serben.tk {
    redir https://edomora97.serben.tk{uri}
}
badin.serben.tk {
    redir https://badinl.serben.tk{uri}
}
giorgio.serben.tk {
    redir https://dabolus.serben.tk{uri}
}
sergiu.serben.tk {
    redir https://vidrez.serben.tk{uri}
}

serben.ga {
    redir / https://serben.tk{uri} 307
}

*.serben.ga {
    tls {
        dns cloudflare
    }
    redir / https://{label1}.serben.tk{uri} 307
}

serben.tk {
    import common
    errors /root/.caddy/logs/docker.error.log
    log /root/.caddy/logs/docker.access.log
    root /srv
}

docker.serben.tk {
    import common
    errors /root/.caddy/logs/docker.error.log
    log /root/.caddy/logs/docker.access.log
    proxy /api/websocket 172.18.0.2:9000 {
        websocket
    }
    proxy / 172.18.0.2:9000 {
        transparent
    }
}

torrent.serben.tk {
    import common
    errors /root/.caddy/logs/torrent.error.log
    log /root/.caddy/logs/torrent.access.log
    proxy / serben.tk:3000 {
        transparent
    }
}

downloads.serben.tk {
    import common
    errors /root/.caddy/logs/downloads.error.log
    log /root/.caddy/logs/downloads.access.log
    filemanager / /torrent/torrents {
        database /root/.caddy/filemanager/downloads.serben.tk.db
        allow_commands false
    }
}

download.serben.tk {
    import common
    errors /root/.caddy/logs/download.error.log
    log /root/.caddy/logs/download.access.log
    root /torrent
    browse
}

phpmyadmin.serben.tk {
    import common
    errors /root/.caddy/logs/phpmyadmin.error.log
    log /root/.caddy/logs/phpmyadmin.access.log
    proxy / 172.18.0.7:80 {
        transparent
    }
}

openarena.serben.tk {
    import common
    browse /
    errors /root/.caddy/logs/generic.error.log
    log /root/.caddy/logs/generic.access.log
    root /volumes/openarena
}

status.serben.tk {
    redir https://p.datadoghq.com/sb/a2ba14d75-e14f697f19
}

status.docker.serben.tk {
    redir https://p.datadoghq.com/sb/a2ba14d75-d9ce6c93a86ee51e45da444da2cc0896
}

(user) {
    import common
    browse /
    errors /root/.caddy/logs/generic.error.log
    log /root/.caddy/logs/generic.access.log
    fastcgi / 127.0.0.1:9000 php {
        env CLOUDFLARE_API_KEY hidden
        env DOCUMENT_ROOT /volumes/homes/{label1}/{label1}
        env DOCUMENT_URI {path}
        env REQUEST_URI {path}
        env SCRIPT_NAME {path}
        env PHP_SELF {path}
    }
    on startup php-fpm7
}

edomora97.serben.tk {
    root /volumes/homes/edomora97/edomora97/public_html
    import user
}

gion.serben.tk {
    root /volumes/homes/gion/gion/public_html
    import user
}

cive.serben.tk {
    root /volumes/homes/cive/cive/public_html
    import user
}

badinl.serben.tk {
    root /volumes/homes/badinl/badinl/public_html
    import user
}

rossi.serben.tk {
    root /volumes/homes/rossi/rossi/public_html
    import user
}

vidrez.serben.tk {
    root /volumes/homes/vidrez/vidrez/public_html
    import user
}

furlan.serben.tk {
    root /volumes/homes/furlan/furlan/public_html
    import user
}

dabolus.serben.tk {
    root /volumes/homes/dabolus/dabolus/public_html
    import user
}

*.serben.tk, *.new.serben.tk {
    tls {
        dns cloudflare
    }
    import common
    root /404
}

*:80 {
    import common
    root /404
}
